# EDA - Ventas de Supermercado (Uso de Pandas)

## Presentado por: Ervin Acevedo

<div style="background: linear-gradient(90deg, #4CAF50, #2196F3); color: white; padding: 20px; text-align: center; font-size: 28px; font-weight: bold; border-radius: 10px; margin: 10px 0;">
     EDA - Ventas de Supermercado 
</div>

## 0. Importaci贸n de librer铆as

In [165]:
# Paso 1: Importar las librer铆as necesarias
import pandas as pd
import numpy as np

## 1. Carga de los datos

In [166]:
# Paso 2: Cargar los datos desde los archivos CSV
# Se usan rutas relativas porque los CSV est谩n en la misma carpeta del notebook
ventas = pd.read_csv('ventas.csv')
inventarios = pd.read_csv('inventarios.csv')
satisfaccion = pd.read_csv('satisfaccion.csv')

### Validaci贸n de carga de los datos

In [167]:
ventas.head(), inventarios.head(), satisfaccion.head()

(   ID_Tienda    Producto  Cantidad_Vendida  Precio_Unitario Fecha_Venta
 0          1  Producto A                20              100  2023-01-05
 1          1  Producto B                15              200  2023-01-06
 2          2  Producto A                30              100  2023-01-07
 3          2  Producto C                25              300  2023-01-08
 4          3  Producto A                10              100  2023-01-09,
    ID_Tienda    Producto  Stock_Disponible Fecha_Actualizaci贸n
 0          1  Producto A                50          2023-01-05
 1          1  Producto B                40          2023-01-06
 2          2  Producto A                60          2023-01-07
 3          2  Producto C                45          2023-01-08
 4          3  Producto A                30          2023-01-09,
    ID_Tienda  Satisfacci贸n_Promedio Fecha_Evaluaci贸n
 0          1                     85       2023-01-15
 1          2                     90       2023-01-15
 2          3                     70       2023-01-15
 3          4                     65       2023-01-15
 4          5                     55       2023-01-15)

In [168]:
ventas.info()
ventas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_Tienda         10 non-null     int64
 1   Producto          10 non-null     object
 2   Cantidad_Vendida  10 non-null     int64
 3   Precio_Unitario   10 non-null     int64
 4   Fecha_Venta       10 non-null     object
dtypes: int64(3), object(2)
memory usage: 532.0+ bytes

   ID_Tienda    Producto  Cantidad_Vendida  Precio_Unitario Fecha_Venta
0          1  Producto A                20              100  2023-01-05
1          1  Producto B                15              200  2023-01-06
2          2  Producto A                30              100  2023-01-07
3          2  Producto C                25              300  2023-01-08
4          3  Producto A                10              100  2023-01-09
5          3  Producto B                40              200  2023-01-10
6          4  Producto C                35              300  2023-01-11
7          4  Producto A                25              100  2023-01-12
8          5  Producto B                20              200  2023-01-13
9          5  Producto C                30              300  2023-01-14

In [169]:
inventarios.info()
inventarios

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_Tienda            10 non-null     int64
 1   Producto             10 non-null     object
 2   Stock_Disponible     10 non-null     int64
 3   Fecha_Actualizaci贸n  10 non-null     object
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes

   ID_Tienda    Producto  Stock_Disponible Fecha_Actualizaci贸n
0          1  Producto A                50          2023-01-05
1          1  Producto B                40          2023-01-06
2          2  Producto A                60          2023-01-07
3          2  Producto C                45          2023-01-08
4          3  Producto A                30          2023-01-09
5          3  Producto B                80          2023-01-10
6          4  Producto C                70          2023-01-11
7          4  Producto A                50          2023-01-12
8          5  Producto B                40          2023-01-13
9          5  Producto C                60          2023-01-14

In [170]:
satisfaccion.info()
satisfaccion

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID_Tienda              5 non-null      int64
 1   Satisfacci贸n_Promedio  5 non-null      int64
 2   Fecha_Evaluaci贸n       5 non-null      object
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

   ID_Tienda  Satisfacci贸n_Promedio Fecha_Evaluaci贸n
0          1                     85       2023-01-15
1          2                     90       2023-01-15
2          3                     70       2023-01-15
3          4                     65       2023-01-15
4          5                     55       2023-01-15

## 2. Transformaci贸n de los datos

### 2.1. Validaci贸n de datos nulos y eliminaci贸n de datos nulos (en caso de nuevas entradas de registros)

In [171]:
print(ventas.dropna(inplace=True))
print(inventarios.dropna(inplace=True))   
print(satisfaccion.dropna(inplace=True))

None
None
None

### 2.2. Validaci贸n de datos duplicados

In [172]:
print(ventas.duplicated().sum())
print(inventarios.duplicated().sum())
print(satisfaccion.duplicated().sum())

0
0
0

### 2.3. Uni贸n de registros coincidentes (inner join) para tener un solo archivo unificado

In [173]:
df_con = (
    ventas
    .merge(inventarios, on='ID_Tienda')
    .merge(satisfaccion, on='ID_Tienda')
)

#### 2.3.1. Se elimina la columna "Producto_y" debido a que el producto se puede referenciar por medio de la columna "Producto_x"

In [174]:
df_con.drop(columns=['Producto_y'], inplace=True)

#### 2.3.2. Pasamos todas las columnas restantes a lower_case para mejor manejo en el c贸digo

In [175]:
df_con.columns = df_con.columns.str.lower()

In [176]:
df_con

,id_tienda,producto_x,cantidad_vendida,precio_unitario,fecha_venta,stock_disponible,fecha_actualizaci贸n,satisfacci贸n_promedio,fecha_evaluaci贸n
0,1,Producto A,20,100,2023-01-05,50,2023-01-05,85,2023-01-15
1,1,Producto A,20,100,2023-01-05,40,2023-01-06,85,2023-01-15
2,1,Producto B,15,200,2023-01-06,50,2023-01-05,85,2023-01-15
3,1,Producto B,15,200,2023-01-06,40,2023-01-06,85,2023-01-15
4,2,Producto A,30,100,2023-01-07,60,2023-01-07,90,2023-01-15
5,2,Producto A,30,100,2023-01-07,45,2023-01-08,90,2023-01-15
6,2,Producto C,25,300,2023-01-08,60,2023-01-07,90,2023-01-15
7,2,Producto C,25,300,2023-01-08,45,2023-01-08,90,2023-01-15
8,3,Producto A,10,100,2023-01-09,30,2023-01-09,70,2023-01-15
9,3,Producto A,10,100,2023-01-09,80,2023-01-10,70,2023-01-15
10,3,Producto B,40,200,2023-01-10,30,2023-01-09,70,2023-01-15
11,3,Producto B,40,200,2023-01-10,80,2023-01-10,70,2023-01-15
12,4,Producto C,35,300,2023-01-11,70,2023-01-11,65,2023-01-15
13,4,Producto C,35,300,2023-01-11,50,2023-01-12,65,2023-01-15
14,4,Producto A,25,100,2023-01-12,70,2023-01-11,65,2023-01-15
15,4,Producto A,25,100,2023-01-12,50,2023-01-12,65,2023-01-15
16,5,Producto B,20,200,2023-01-13,40,2023-01-13,55,2023-01-15
17,5,Producto B,20,200,2023-01-13,60,2023-01-14,55,2023-01-15
18,5,Producto C,30,300,2023-01-14,40,2023-01-13,55,2023-01-15
19,5,Producto C,30,300,2023-01-14,60,2023-01-14,55,2023-01-15

##### **Nota:** Se presentan varios tipos de datos con su naturaleza incorrecta respecto a sus valores contenidos (Ejemplo: Campos de fecha) - Se procede a convertir los tipos de datos correspondientes:

In [177]:
df_con.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_tienda              20 non-null     int64
 1   producto_x             20 non-null     object
 2   cantidad_vendida       20 non-null     int64
 3   precio_unitario        20 non-null     int64
 4   fecha_venta            20 non-null     object
 5   stock_disponible       20 non-null     int64
 6   fecha_actualizaci贸n    20 non-null     object
 7   satisfacci贸n_promedio  20 non-null     int64
 8   fecha_evaluaci贸n       20 non-null     object
dtypes: int64(5), object(4)
memory usage: 1.5+ KB

In [178]:
df_con = df_con.astype({col: 'category' for col in ['producto_x']})
df_con = df_con.astype({col: 'float64' for col in ['cantidad_vendida', 'precio_unitario', 'stock_disponible']})
df_con['fecha_venta'] = pd.to_datetime(df_con['fecha_venta'], format='%Y-%m-%d')
df_con['fecha_actualizaci贸n'] = pd.to_datetime(df_con['fecha_actualizaci贸n'], format='%Y-%m-%d')
df_con['fecha_evaluaci贸n'] = pd.to_datetime(df_con['fecha_evaluaci贸n'], format='%Y-%m-%d')

In [179]:
df_con.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_tienda              20 non-null     int64
 1   producto_x             20 non-null     category
 2   cantidad_vendida       20 non-null     float64
 3   precio_unitario        20 non-null     float64
 4   fecha_venta            20 non-null     datetime64[ns]
 5   stock_disponible       20 non-null     float64
 6   fecha_actualizaci贸n    20 non-null     datetime64[ns]
 7   satisfacci贸n_promedio  20 non-null     int64
 8   fecha_evaluaci贸n       20 non-null     datetime64[ns]
dtypes: category(1), datetime64[ns](3), float64(3), int64(2)
memory usage: 1.5 KB

#### 2.3.3. Campos corregidos

In [180]:
df_con

,id_tienda,producto_x,cantidad_vendida,precio_unitario,fecha_venta,stock_disponible,fecha_actualizaci贸n,satisfacci贸n_promedio,fecha_evaluaci贸n
0,1,Producto A,20.0,100.0,2023-01-05,50.0,2023-01-05,85,2023-01-15
1,1,Producto A,20.0,100.0,2023-01-05,40.0,2023-01-06,85,2023-01-15
2,1,Producto B,15.0,200.0,2023-01-06,50.0,2023-01-05,85,2023-01-15
3,1,Producto B,15.0,200.0,2023-01-06,40.0,2023-01-06,85,2023-01-15
4,2,Producto A,30.0,100.0,2023-01-07,60.0,2023-01-07,90,2023-01-15
5,2,Producto A,30.0,100.0,2023-01-07,45.0,2023-01-08,90,2023-01-15
6,2,Producto C,25.0,300.0,2023-01-08,60.0,2023-01-07,90,2023-01-15
7,2,Producto C,25.0,300.0,2023-01-08,45.0,2023-01-08,90,2023-01-15
8,3,Producto A,10.0,100.0,2023-01-09,30.0,2023-01-09,70,2023-01-15
9,3,Producto A,10.0,100.0,2023-01-09,80.0,2023-01-10,70,2023-01-15
10,3,Producto B,40.0,200.0,2023-01-10,30.0,2023-01-09,70,2023-01-15
11,3,Producto B,40.0,200.0,2023-01-10,80.0,2023-01-10,70,2023-01-15
12,4,Producto C,35.0,300.0,2023-01-11,70.0,2023-01-11,65,2023-01-15
13,4,Producto C,35.0,300.0,2023-01-11,50.0,2023-01-12,65,2023-01-15
14,4,Producto A,25.0,100.0,2023-01-12,70.0,2023-01-11,65,2023-01-15
15,4,Producto A,25.0,100.0,2023-01-12,50.0,2023-01-12,65,2023-01-15
16,5,Producto B,20.0,200.0,2023-01-13,40.0,2023-01-13,55,2023-01-15
17,5,Producto B,20.0,200.0,2023-01-13,60.0,2023-01-14,55,2023-01-15
18,5,Producto C,30.0,300.0,2023-01-14,40.0,2023-01-13,55,2023-01-15
19,5,Producto C,30.0,300.0,2023-01-14,60.0,2023-01-14,55,2023-01-15

## 3. EDA Ventas de Supermercado

### 3.1. Ventas totales por producto y por tienda

#### 3.1.1. Ventas totales por producto

In [181]:
vts_pct = df_con.groupby('producto_x', observed= False) ['cantidad_vendida'].sum()
vts_pct

producto_x
Producto A    170.0
Producto B    150.0
Producto C    180.0
Name: cantidad_vendida, dtype: float64

#### 3.1.2. Ventas totales por tienda

In [182]:
vts_td = df_con.groupby('id_tienda', observed= False) ['cantidad_vendida'].sum()
vts_td

id_tienda
1     70.0
2    110.0
3    100.0
4    120.0
5    100.0
Name: cantidad_vendida, dtype: float64

#### 3.1.3. Ingresos por tienda (cantidad_vendidad * precio_unitario)

In [183]:
df_con['ingresos'] = df_con['cantidad_vendida'] * df_con['precio_unitario']
df_con

,id_tienda,producto_x,cantidad_vendida,precio_unitario,fecha_venta,stock_disponible,fecha_actualizaci贸n,satisfacci贸n_promedio,fecha_evaluaci贸n,ingresos
0,1,Producto A,20.0,100.0,2023-01-05,50.0,2023-01-05,85,2023-01-15,2000.0
1,1,Producto A,20.0,100.0,2023-01-05,40.0,2023-01-06,85,2023-01-15,2000.0
2,1,Producto B,15.0,200.0,2023-01-06,50.0,2023-01-05,85,2023-01-15,3000.0
3,1,Producto B,15.0,200.0,2023-01-06,40.0,2023-01-06,85,2023-01-15,3000.0
4,2,Producto A,30.0,100.0,2023-01-07,60.0,2023-01-07,90,2023-01-15,3000.0
5,2,Producto A,30.0,100.0,2023-01-07,45.0,2023-01-08,90,2023-01-15,3000.0
6,2,Producto C,25.0,300.0,2023-01-08,60.0,2023-01-07,90,2023-01-15,7500.0
7,2,Producto C,25.0,300.0,2023-01-08,45.0,2023-01-08,90,2023-01-15,7500.0
8,3,Producto A,10.0,100.0,2023-01-09,30.0,2023-01-09,70,2023-01-15,1000.0
9,3,Producto A,10.0,100.0,2023-01-09,80.0,2023-01-10,70,2023-01-15,1000.0
10,3,Producto B,40.0,200.0,2023-01-10,30.0,2023-01-09,70,2023-01-15,8000.0
11,3,Producto B,40.0,200.0,2023-01-10,80.0,2023-01-10,70,2023-01-15,8000.0
12,4,Producto C,35.0,300.0,2023-01-11,70.0,2023-01-11,65,2023-01-15,10500.0
13,4,Producto C,35.0,300.0,2023-01-11,50.0,2023-01-12,65,2023-01-15,10500.0
14,4,Producto A,25.0,100.0,2023-01-12,70.0,2023-01-11,65,2023-01-15,2500.0
15,4,Producto A,25.0,100.0,2023-01-12,50.0,2023-01-12,65,2023-01-15,2500.0
16,5,Producto B,20.0,200.0,2023-01-13,40.0,2023-01-13,55,2023-01-15,4000.0
17,5,Producto B,20.0,200.0,2023-01-13,60.0,2023-01-14,55,2023-01-15,4000.0
18,5,Producto C,30.0,300.0,2023-01-14,40.0,2023-01-13,55,2023-01-15,9000.0
19,5,Producto C,30.0,300.0,2023-01-14,60.0,2023-01-14,55,2023-01-15,9000.0

In [184]:
ing_td = df_con.groupby('id_tienda', observed= False) ['ingresos'].sum()
ing_td

id_tienda
1    10000.0
2    21000.0
3    18000.0
4    26000.0
5    26000.0
Name: ingresos, dtype: float64

In [185]:
ing_pct = df_con.groupby('producto_x', observed= False) ['ingresos'].sum()
ing_pct

producto_x
Producto A    17000.0
Producto B    30000.0
Producto C    54000.0
Name: ingresos, dtype: float64

### 3.2. Resumen estad铆stico

#### 3.2.1. Resumen n煤merico

In [186]:
df_con.describe()

,id_tienda,cantidad_vendida,precio_unitario,fecha_venta,stock_disponible,fecha_actualizaci贸n,satisfacci贸n_promedio,fecha_evaluaci贸n,ingresos
count,20.000000,20.000000,20.000000,20,20.000000,20,20.000000,20,20.00000
mean,3.000000,25.000000,190.000000,2023-01-09 12:00:00,52.500000,2023-01-09 12:00:00,73.000000,2023-01-15 00:00:00,5050.00000
min,1.000000,10.000000,100.000000,2023-01-05 00:00:00,30.000000,2023-01-05 00:00:00,55.000000,2023-01-15 00:00:00,1000.00000
25%,2.000000,20.000000,100.000000,2023-01-07 00:00:00,40.000000,2023-01-07 00:00:00,65.000000,2023-01-15 00:00:00,2500.00000
50%,3.000000,25.000000,200.000000,2023-01-09 12:00:00,50.000000,2023-01-09 12:00:00,70.000000,2023-01-15 00:00:00,3500.00000
75%,4.000000,30.000000,300.000000,2023-01-12 00:00:00,60.000000,2023-01-12 00:00:00,85.000000,2023-01-15 00:00:00,8000.00000
max,5.000000,40.000000,300.000000,2023-01-14 00:00:00,80.000000,2023-01-14 00:00:00,90.000000,2023-01-15 00:00:00,10500.00000
std,1.450953,8.885233,85.224163,NaN,14.734492,NaN,13.218806,NaN,3272.29197

#### 3.2.2. Resumen categ贸rico

In [187]:
df_con.describe(include='category')

        producto_x
count           20
unique           3
top     Producto A
freq             8

#### 3.3. Ventas promedio por tienda y producto (incluye an谩lisis de ingresos)

##### 3.3.1. Ventas promedio por tienda

In [188]:
vtas_av_ti = df_con.groupby('id_tienda', observed = False) ['cantidad_vendida'].mean()
vtas_av_ti

id_tienda
1    17.5
2    27.5
3    25.0
4    30.0
5    25.0
Name: cantidad_vendida, dtype: float64

##### 3.3.2. Ventas promedio por producto

In [189]:
vtas_av_pct = df_con.groupby('producto_x', observed = False) ['cantidad_vendida'].mean()
vtas_av_pct

producto_x
Producto A    21.25
Producto B    25.00
Producto C    30.00
Name: cantidad_vendida, dtype: float64

##### 3.3.3. Ingresos promedio por tienda

In [190]:
ing_av_ti = df_con.groupby('id_tienda', observed = False) ['cantidad_vendida'].mean()
ing_av_ti

id_tienda
1    17.5
2    27.5
3    25.0
4    30.0
5    25.0
Name: cantidad_vendida, dtype: float64

##### 3.3.4. Ingresos promedio por producto

In [191]:
ing_av_pct = df_con.groupby('producto_x', observed = False) ['cantidad_vendida'].mean()
ing_av_pct

producto_x
Producto A    21.25
Producto B    25.00
Producto C    30.00
Name: cantidad_vendida, dtype: float64

## 4. An谩lisis de inventario

### 4.1. Stock total por tienda

In [192]:
st_ti = df_con.groupby('id_tienda', observed = False) ['stock_disponible'].sum()
st_ti

id_tienda
1    180.0
2    210.0
3    220.0
4    240.0
5    200.0
Name: stock_disponible, dtype: float64

### 4.2. C谩lculo de inventario (rotaci贸n)

In [193]:
df_con['rotacion_inventario'] = df_con['cantidad_vendida'] / df_con['stock_disponible']
df_con

,id_tienda,producto_x,cantidad_vendida,precio_unitario,fecha_venta,stock_disponible,fecha_actualizaci贸n,satisfacci贸n_promedio,fecha_evaluaci贸n,ingresos,rotacion_inventario
0,1,Producto A,20.0,100.0,2023-01-05,50.0,2023-01-05,85,2023-01-15,2000.0,0.400000
1,1,Producto A,20.0,100.0,2023-01-05,40.0,2023-01-06,85,2023-01-15,2000.0,0.500000
2,1,Producto B,15.0,200.0,2023-01-06,50.0,2023-01-05,85,2023-01-15,3000.0,0.300000
3,1,Producto B,15.0,200.0,2023-01-06,40.0,2023-01-06,85,2023-01-15,3000.0,0.375000
4,2,Producto A,30.0,100.0,2023-01-07,60.0,2023-01-07,90,2023-01-15,3000.0,0.500000
5,2,Producto A,30.0,100.0,2023-01-07,45.0,2023-01-08,90,2023-01-15,3000.0,0.666667
6,2,Producto C,25.0,300.0,2023-01-08,60.0,2023-01-07,90,2023-01-15,7500.0,0.416667
7,2,Producto C,25.0,300.0,2023-01-08,45.0,2023-01-08,90,2023-01-15,7500.0,0.555556
8,3,Producto A,10.0,100.0,2023-01-09,30.0,2023-01-09,70,2023-01-15,1000.0,0.333333
9,3,Producto A,10.0,100.0,2023-01-09,80.0,2023-01-10,70,2023-01-15,1000.0,0.125000
10,3,Producto B,40.0,200.0,2023-01-10,30.0,2023-01-09,70,2023-01-15,8000.0,1.333333
11,3,Producto B,40.0,200.0,2023-01-10,80.0,2023-01-10,70,2023-01-15,8000.0,0.500000
12,4,Producto C,35.0,300.0,2023-01-11,70.0,2023-01-11,65,2023-01-15,10500.0,0.500000
13,4,Producto C,35.0,300.0,2023-01-11,50.0,2023-01-12,65,2023-01-15,10500.0,0.700000
14,4,Producto A,25.0,100.0,2023-01-12,70.0,2023-01-11,65,2023-01-15,2500.0,0.357143
15,4,Producto A,25.0,100.0,2023-01-12,50.0,2023-01-12,65,2023-01-15,2500.0,0.500000
16,5,Producto B,20.0,200.0,2023-01-13,40.0,2023-01-13,55,2023-01-15,4000.0,0.500000
17,5,Producto B,20.0,200.0,2023-01-13,60.0,2023-01-14,55,2023-01-15,4000.0,0.333333
18,5,Producto C,30.0,300.0,2023-01-14,40.0,2023-01-13,55,2023-01-15,9000.0,0.750000
19,5,Producto C,30.0,300.0,2023-01-14,60.0,2023-01-14,55,2023-01-15,9000.0,0.500000

### 4.3 Stock total por tienda (rotaci贸n)

In [194]:
st_ti_ro = df_con.groupby('id_tienda', observed = False) ['rotacion_inventario'].sum()
st_ti_ro

id_tienda
1    1.575000
2    2.138889
3    2.291667
4    2.057143
5    2.083333
Name: rotacion_inventario, dtype: float64

### 4.4. Tiendas con inventario critico (< 10% de ventas respecto al stock)

In [195]:
tl_stock = df_con.groupby('id_tienda')['stock_disponible'].sum()
tl_ventas = df_con.groupby('id_tienda')['cantidad_vendida'].sum()
por_ventas = (tl_stock / tl_ventas) * 100
td_criticas  = por_ventas[por_ventas < 10]
print("Tiendas con niveles cr铆ticos de inventario (< 10% de ventas respecto al stock):")
td_criticas

Tiendas con niveles cr铆ticos de inventario (< 10% de ventas respecto al stock):

Series([], dtype: float64)

#### 4.4.1. Validaci贸n con los df generados

In [196]:
tl_stock

id_tienda
1    180.0
2    210.0
3    220.0
4    240.0
5    200.0
Name: stock_disponible, dtype: float64

In [197]:
tl_ventas

id_tienda
1     70.0
2    110.0
3    100.0
4    120.0
5    100.0
Name: cantidad_vendida, dtype: float64

In [198]:
por_ventas

id_tienda
1    257.142857
2    190.909091
3    220.000000
4    200.000000
5    200.000000
dtype: float64

##### **Nota:** No se presentan tiendas con inventarios criticos por debajo del 10% respecto al total del stock

## 5. Satisfacci贸n del cliente

In [199]:
df_con

,id_tienda,producto_x,cantidad_vendida,precio_unitario,fecha_venta,stock_disponible,fecha_actualizaci贸n,satisfacci贸n_promedio,fecha_evaluaci贸n,ingresos,rotacion_inventario
0,1,Producto A,20.0,100.0,2023-01-05,50.0,2023-01-05,85,2023-01-15,2000.0,0.400000
1,1,Producto A,20.0,100.0,2023-01-05,40.0,2023-01-06,85,2023-01-15,2000.0,0.500000
2,1,Producto B,15.0,200.0,2023-01-06,50.0,2023-01-05,85,2023-01-15,3000.0,0.300000
3,1,Producto B,15.0,200.0,2023-01-06,40.0,2023-01-06,85,2023-01-15,3000.0,0.375000
4,2,Producto A,30.0,100.0,2023-01-07,60.0,2023-01-07,90,2023-01-15,3000.0,0.500000
5,2,Producto A,30.0,100.0,2023-01-07,45.0,2023-01-08,90,2023-01-15,3000.0,0.666667
6,2,Producto C,25.0,300.0,2023-01-08,60.0,2023-01-07,90,2023-01-15,7500.0,0.416667
7,2,Producto C,25.0,300.0,2023-01-08,45.0,2023-01-08,90,2023-01-15,7500.0,0.555556
8,3,Producto A,10.0,100.0,2023-01-09,30.0,2023-01-09,70,2023-01-15,1000.0,0.333333
9,3,Producto A,10.0,100.0,2023-01-09,80.0,2023-01-10,70,2023-01-15,1000.0,0.125000
10,3,Producto B,40.0,200.0,2023-01-10,30.0,2023-01-09,70,2023-01-15,8000.0,1.333333
11,3,Producto B,40.0,200.0,2023-01-10,80.0,2023-01-10,70,2023-01-15,8000.0,0.500000
12,4,Producto C,35.0,300.0,2023-01-11,70.0,2023-01-11,65,2023-01-15,10500.0,0.500000
13,4,Producto C,35.0,300.0,2023-01-11,50.0,2023-01-12,65,2023-01-15,10500.0,0.700000
14,4,Producto A,25.0,100.0,2023-01-12,70.0,2023-01-11,65,2023-01-15,2500.0,0.357143
15,4,Producto A,25.0,100.0,2023-01-12,50.0,2023-01-12,65,2023-01-15,2500.0,0.500000
16,5,Producto B,20.0,200.0,2023-01-13,40.0,2023-01-13,55,2023-01-15,4000.0,0.500000
17,5,Producto B,20.0,200.0,2023-01-13,60.0,2023-01-14,55,2023-01-15,4000.0,0.333333
18,5,Producto C,30.0,300.0,2023-01-14,40.0,2023-01-13,55,2023-01-15,9000.0,0.750000
19,5,Producto C,30.0,300.0,2023-01-14,60.0,2023-01-14,55,2023-01-15,9000.0,0.500000

### 5.1. Unir ventas totales con satisfaccion para relacionar rendimiento

In [200]:
vts_tls = df_con.groupby('id_tienda')['cantidad_vendida'].sum().reset_index()
satisf = df_con[['id_tienda', 'satisfacci贸n_promedio']].drop_duplicates()
rend = vts_tls.merge(satisf, on='id_tienda')
print("Relaci贸n entre ventas totales y satisfacci贸n del cliente:")
rend

Relaci贸n entre ventas totales y satisfacci贸n del cliente:

   id_tienda  cantidad_vendida  satisfacci贸n_promedio
0          1              70.0                     85
1          2             110.0                     90
2          3             100.0                     70
3          4             120.0                     65
4          5             100.0                     55

#### 5.2. Validaci贸n con los df generados

In [201]:
vts_tls

   id_tienda  cantidad_vendida
0          1              70.0
1          2             110.0
2          3             100.0
3          4             120.0
4          5             100.0

In [202]:
satisf

    id_tienda  satisfacci贸n_promedio
0           1                     85
4           2                     90
8           3                     70
12          4                     65
16          5                     55

In [203]:
rend

   id_tienda  cantidad_vendida  satisfacci贸n_promedio
0          1              70.0                     85
1          2             110.0                     90
2          3             100.0                     70
3          4             120.0                     65
4          5             100.0                     55

#### 5.3. Tiendas con un margen del menos del 60% en la satisfacci贸n

In [204]:
rend_60 = rend[rend['satisfacci贸n_promedio'] < 60]
print("Tiendas con satisfacci贸n promedio menor al 60%:")
rend_60

Tiendas con satisfacci贸n promedio menor al 60%:

   id_tienda  cantidad_vendida  satisfacci贸n_promedio
4          5             100.0                     55

### 6. Operaciones con Pandas (mediana y desviacion estandar)

In [205]:
md_satis = df_con['cantidad_vendida'].median()
st_dv = df_con['cantidad_vendida'].std()
print(f"Mediana de cantidad vendida: {md_satis}")
print(f"Desviaci贸n est谩ndar de cantidad vendida: {st_dv}")

Mediana de cantidad vendida: 25.0
Desviaci贸n est谩ndar de cantidad vendida: 8.885233166386385